.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

input {
  border: 1px solid silver;
  border-radius: 5px;
  padding: 0.5em;
  width: 50%;
  margin-top: 0.5em !important;
  margin: 0 auto;
}

form {
  border: 1px solid silver;
  border-radius: 8px;
  display: inline-block;
  padding: 1em;
  margin-top: 1.5em;
  width: 30%;
}

button {
  display: block;
  border-radius: 5px;
  padding: 7px;
  border: 1px solid silver;
  background-color: white;
  cursor: pointer;
  float: right;
  margin-top: 1em;
}

p {
  font-size: 1.5em;
}

hr {
  width: 50%;
}

#warning {
  color: red;
  font-weight: bolder;
  font-size: 20px;
  background-color: lightpink;
  border-radius: 8px;
  padding: 1em;
  display: inline-block;
}
